:root {
    --color-bg-primary-num: 13,27,42;
    --color-bg-100: rgba(var(--color-bg-primary-num), 1);
    --color-bg-75: rgba(var(--color-bg-primary-num), .75);
    --color-bg-50: rgba(var(--color-bg-primary-num), .50);
    --color-bg-25: rgba(var(--color-bg-primary-num), .25);
    --color-primary: rgb(46,103,206);
    --color-secondary: rgb(31,75,153);
    --color-tertiary: rgb(247,140,107);
    --color-primary-text: rgb(176,196,222);

    --fs-xl: 8rem;
    --fs-l: 4rem;
    --fs-m: 2rem;
    --fs-s: 1rem;
}

html {
    background-color: var(--color-bg-100);
    color: var(--color-primary-text);
}

h1 {
    font-size: var(--fs-xl);
    margin: 0;
    padding: 0;
}

.welcome-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}